@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: 0;

	box-sizing: border-box;

	font-family: "Lato";
}

/* ALL */
ul {
	list-style: none;
}

html,
body,
#page-container {
	width: 100%;
	height: 100%;
}

#page-container {
	display: flex;
	flex-direction: column;

	color: white;
}

/* HEADER */

#header {
	display: flex;
	justify-content: space-around;

	background-color: black;
	color: white;

	position: sticky;
	top: 0;

	z-index: 500000;
}

.logo-container {
	align-self: center;

	width: 100px;
	height: 100px;

	margin: 1rem 0;
}

.logo-img {
	width: 100%;
	height: 100%;

	object-fit: contain;
}

.nav {
	width: 30%;
	display: flex;
}

.nav-list {
	flex: 1;

	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
}

.nav-list li {
	flex: 1;
	display: flex;
}

.nav-btn {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: capitalize;

	width: 100%;

	background-color: black;
	color: white;

	position: relative;
	cursor: pointer;
}

.nav-btn:hover {
	background-color: #dd0800;
	color: black;
}

.nav-btn:active {
	opacity: 70%;
}

.selected {
	color: #dd0800;
	transition: 0.2s;
}

.selected::after {
	content: "";
	width: 100%;
	position: absolute;

	left: 0;
	right: 0;
	margin: 0 auto;

	bottom: 0px;

	border-width: 0 0 4px;
	border-style: solid;
	border-color: #dd0800;
}

.selected:hover {
	background-color: black;
	color: #dd0800;
}

/* MAIN CONTENT */

#main-container {
	flex: 1;

	display: flex;

	background-color: black;
}

/* FOOTER */

#footer {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: black;

	padding: 1rem;
}

.me-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.github-container {
	width: 1.5rem;
	height: 1.5rem;
}

/* DYNAMIC BUT FOR COMMON PAGES */
.credit {
	color: white;
	text-decoration: none;
}

.img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.content-container {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 5rem 0;
}

.title {
	font-size: 5rem;
}

.light-border {
	box-shadow: 0 0 10px #dd0800;
}
